assignment3/solution/dcms/src/server/wsdl/CenterServerService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://dcms/" name="CenterServerService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://dcms/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://dcms/" schemaLocation="CenterServerService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="createTRecord">
    <part name="parameters" element="tns:createTRecord"/>
  </message>
  <message name="createTRecordResponse">
    <part name="parameters" element="tns:createTRecordResponse"/>
  </message>
  <message name="createSRecord">
    <part name="parameters" element="tns:createSRecord"/>
  </message>
  <message name="createSRecordResponse">
    <part name="parameters" element="tns:createSRecordResponse"/>
  </message>
  <message name="getRecordsCount">
    <part name="parameters" element="tns:getRecordsCount"/>
  </message>
  <message name="getRecordsCountResponse">
    <part name="parameters" element="tns:getRecordsCountResponse"/>
  </message>
  <message name="editRecord">
    <part name="parameters" element="tns:editRecord"/>
  </message>
  <message name="editRecordResponse">
    <part name="parameters" element="tns:editRecordResponse"/>
  </message>
  <message name="transferRecord">
    <part name="parameters" element="tns:transferRecord"/>
  </message>
  <message name="transferRecordResponse">
    <part name="parameters" element="tns:transferRecordResponse"/>
  </message>
  <message name="login">
    <part name="parameters" element="tns:login"/>
  </message>
  <message name="loginResponse">
    <part name="parameters" element="tns:loginResponse"/>
  </message>
  <message name="logout">
    <part name="parameters" element="tns:logout"/>
  </message>
  <message name="logoutResponse">
    <part name="parameters" element="tns:logoutResponse"/>
  </message>
  <portType name="Member_Webservice">
    <operation name="createTRecord">
      <input wsam:Action="http://dcms/Member_Webservice/createTRecordRequest" message="tns:createTRecord"/>
      <output wsam:Action="http://dcms/Member_Webservice/createTRecordResponse" message="tns:createTRecordResponse"/>
    </operation>
    <operation name="createSRecord">
      <input wsam:Action="http://dcms/Member_Webservice/createSRecordRequest" message="tns:createSRecord"/>
      <output wsam:Action="http://dcms/Member_Webservice/createSRecordResponse" message="tns:createSRecordResponse"/>
    </operation>
    <operation name="getRecordsCount">
      <input wsam:Action="http://dcms/Member_Webservice/getRecordsCountRequest" message="tns:getRecordsCount"/>
      <output wsam:Action="http://dcms/Member_Webservice/getRecordsCountResponse" message="tns:getRecordsCountResponse"/>
    </operation>
    <operation name="editRecord">
      <input wsam:Action="http://dcms/Member_Webservice/editRecordRequest" message="tns:editRecord"/>
      <output wsam:Action="http://dcms/Member_Webservice/editRecordResponse" message="tns:editRecordResponse"/>
    </operation>
    <operation name="transferRecord">
      <input wsam:Action="http://dcms/Member_Webservice/transferRecordRequest" message="tns:transferRecord"/>
      <output wsam:Action="http://dcms/Member_Webservice/transferRecordResponse" message="tns:transferRecordResponse"/>
    </operation>
    <operation name="login">
      <input wsam:Action="http://dcms/Member_Webservice/loginRequest" message="tns:login"/>
      <output wsam:Action="http://dcms/Member_Webservice/loginResponse" message="tns:loginResponse"/>
    </operation>
    <operation name="logout">
      <input wsam:Action="http://dcms/Member_Webservice/logoutRequest" message="tns:logout"/>
      <output wsam:Action="http://dcms/Member_Webservice/logoutResponse" message="tns:logoutResponse"/>
    </operation>
  </portType>
  <binding name="CenterServerPortBinding" type="tns:Member_Webservice">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="createTRecord">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createSRecord">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getRecordsCount">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="editRecord">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="transferRecord">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="login">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="logout">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CenterServerService">
    <port name="CenterServerPort" binding="tns:CenterServerPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

